.root {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_wrap {
  width: 450px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 16px rgba(0,0,0,.3);
  padding: 48px 24px 24px;
}

.info_message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  font-weight: bolder;
  color: orangered;
}