.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.root {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   width: 100%;
   height: 90vh;
 }