.cover {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;

  .form {
    padding-bottom: 74px;
    position: absolute;
    top: 50px;
  }

  .formInput {
    display: block;
    min-width: 100vh;
  }

  .root {
    position: absolute;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-flow: row wrap;
    z-index: 1000;
    max-width: 800px;
    width: 45%;
  }

  .header {
    font-size: 18px;
    color: lightyellow;
    position: absolute;
    top: -15px;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(to top, rgba(26,40,120,0.70), rgba(10,143,196,0.70));
  }
}