.card {
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
  cursor: pointer;
  perspective: 1000px;
  height: 33px;
  width: 170px;
  margin-right: 12px;


  &.done {
    .cardInner {
      transform: rotateY(180deg);
    }
  }
}

.root {
  display: flex;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-template-rows: repeat(1, minmax(100px, 1fr));
  grid-auto-flow: dense;
  grid-auto-rows: 100px;
  min-width:30%;
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cardFront, 
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 6px 12px;
}

.isRemembered {
  .cardFront,
  .cardBack {
    text-decoration: line-through;
  }
}

.cardFront {
  background-color: #fff;
  color: black;
}

.cardBack {
  background-color: #1BB95E;
  color: white;
  transform: rotateY(180deg);
}

.icons {
  font-size: 26px;
  cursor: pointer;

  &:hover {
    color: #2f35b1;
  }

  &.isChecked {
    color: lawngreen;
  }
}